@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Ubuntu', sans-serif;
}

strong {
    font-weight: 500;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;

    width: 100vw;
    height: 100vh;
}

#app{
    position: relative;
    
}

.card{
    position: absolute;
}

.card.slider-card:first-of-type{
    top: 20px;
    left: 50px;
}

.card.slider-card:nth-of-type(2){
    top: 120px;
    left: 50px;
}

.buttons-container{
    position: absolute;

    top: 220px;
    left: 50px;
}

.card.info{
    top: 20px;
    right: 50px;

    display: flex;
    flex-direction: column;
    gap: .5rem;
}

.card {
    background-color: #FFF;
    border: 2px solid #353233;
    border-radius: 8px;
    width: 320px;
    padding: 10px;
}

.slider-card {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.slider-card .slider-tile {
    margin-bottom: 24px;
}

.slider-card .field {
    display: flex;
    align-items: center;
}

.slider-card .field .value {
    color: #15CEE2;
}

.slider-card .field .left {
    margin-right: 10px;
}

.slider-card .field .right {
    margin-left: 10px;
}

.slider-card .field input {
    appearance: none;
    height: 3px;
    width: 100%;
    background-color: #353233;
    border-radius: 8px;
    outline: none;
    border: none;
}

.slider-card .field input::-webkit-slider-thumb, .slider-card .field input::-moz-range-thumb {
    appearance: none;
    height: 16px;
    width: 16px;
    background-color: #15CEE2;
    border-radius: 50%;
    cursor: pointer;
    border: none;
}

.button {
    width: 144px;
    border: none;
    border-radius: 4px;
    padding: 10px;
    font-size: 16px;
    color: #FFF;
    cursor: pointer;
    transition: all .4s;
}

.clean-button {
    margin-right: 32px;
    background-color: #15CEE2;
}

.clean-button:hover {
    background-color: #00bbcf;
}

.shoot-button {
    background-color: #F78154;
}

.shoot-button:hover {
    background-color: #f56b36;
}

canvas{
    background: url('../images/background.png');
}

.cannon {
    position: absolute;

    bottom: 20px;
    left: 50px;
}