@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Ubuntu', sans-serif;
}

strong {
    font-weight: 500;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 100vw;
    height: 100vh;
}

#app {
    position: relative;
    
}

.card {
    position: absolute;
    background-color: #FFF;
    border: 2px solid #353233;
    border-radius: 8px;
    width: 320px;
}

.card.context-card {
    top: 24px;
    left: 48px;
    padding: 16px;

    display: flex;
    justify-content: center;
    align-items: center;

    gap: .5rem;
}

.card.context-card .contexts {
    color: #FFF;
    background-color: #15CEE2;
    border: none;

    padding: .25rem;
    border-radius: .25rem;
}

.card.context-card .contexts strong{
    font-weight: 800;
}

.card.slider-card {
    padding: 8px;
}

.card.slider-card:first-of-type {
    top: 88px;
    left: 48px;
}

.card.slider-card:nth-of-type(2) {
    top: 182px;
    left: 48px;
}

.buttons-container {
    position: absolute;

    top: 280px;
    left: 48px;
}

.card.info, .card.info-time {
    padding: 16px;
}

.card.info {
    top: 24px;
    right: 48px;

    display: flex;
    flex-direction: column;
    gap: .5rem;
}

.card.info-time {
    top: 146px;
    right: 48px;

    display: none;
}

.info-time .scroll-container {
    height: 136px;
    overflow: hidden;
    overflow-y: scroll;
    scrollbar-color: #15CEE2 #FFF;
}

.info-time .scroll-container::-webkit-scrollbar-thumb {
    background: #15CEE2;
    border-radius: 10px;
}

.info-time .scroll-container::-webkit-scrollbar-track {
    background-color: #FFF;
}

.info-time .time-title {
    background-color: #15CEE2;
    color: #FFF;
    padding: 4px;
    border-radius: 8px;
    display: inline-block;
    margin: 4px 0;
}

.info-time p {
    margin-bottom: 4px;
}

.info-time p:last-of-type {
    margin-bottom: 16px;
}

.slider-card {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.slider-card .slider-tile {
    margin-bottom: 24px;
}

.slider-card .field {
    display: flex;
    align-items: center;
}

.slider-card .field .value {
    color: #15CEE2;
}

.slider-card .field .left {
    margin-right: 10px;
}

.slider-card .field .right {
    margin-left: 10px;
}

.slider-card .field input {
    appearance: none;
    height: 3px;
    width: 100%;
    background-color: #353233;
    border-radius: 8px;
    outline: none;
    border: none;
}

.slider-card .field input::-webkit-slider-thumb, .slider-card .field input::-moz-range-thumb {
    height: 16px;
    width: 16px;
    background-color: #15CEE2;
    border-radius: 50%;
    cursor: pointer;
    border: none;
}

.button {
    width: 144px;
    border: none;
    border-radius: 4px;
    padding: 10px;
    font-size: 16px;
    color: #FFF;
    cursor: pointer;
    transition: all .4s;
}

.clean-button {
    margin-right: 32px;
    background-color: #15CEE2;
}

.clean-button:hover {
    background-color: #00bbcf;
}

.shoot-button {
    background-color: #F78154;
}

.shoot-button:hover {
    background-color: #f56b36;
}

canvas{
    background: url('../images/background.png');
}

.cannon {
    position: absolute;

    bottom: 20px;
    left: 50px;
}

.speed-arrows-container{
    position: absolute;
    bottom: 20px;
    left: 50px;
}

.speed-arrows-container .arrow{
    position: absolute;
}

.speed-arrows-container .arrow p{
    position: absolute;
    background-color: #FFFFFF;
    padding: .25rem;

    font-size: 75%;

    width: 6rem;
}

.speed-arrows-container .vx.arrow p{
    bottom: -10px;
    
}

.speed-arrows-container .vy.arrow p{
    left: -105px;
}

.speed-arrows-container .vx.arrow{
    bottom: 33.5px;
    left: 45px;
}

.speed-arrows-container .vy.arrow{
    bottom: 62.5px;
    left: 10px;
}

.speed-arrows-container .vx.arrow img{
    transform: rotate(90deg);
}
